<!-- ng-container: utile si pas de wrapper pour une directive -->
<ng-container *ngIf="course">
    <div class="course-card" [ngClass]="cardClasses()" [ngStyle]="cardStyle()">
        <div class="course-title">{{ cardIndex }} - {{ course.description }}</div>

        <!-- GESTION CONTENU PROJETE -->
        <!-- Récupération de noImageTpl passé en Input depuis le parent, dans le else (plus complexe) -->
        <ng-content select="card-image" *ngIf="isImageUrl(); else noImage"></ng-content>
        <ng-template #noImage>
            <ng-container *ngTemplateOutlet="noImageTpl; context: { description: course.description }"> </ng-container>
        </ng-template>

        <!-- ng-content: projection depuis un parent -->
        <ng-content select="card-custom-text"></ng-content>
        <ng-content select="div.course-description"></ng-content>
        <!-- Sans select = tout ce qui n'a pas encore été select (yolo) -->
        <ng-content></ng-content>
        <!-- GESTION CONTENU PROJETE -->

        <!-- ngSwitch -->
        <!--
          <div [ngSwitch]="course.category" class="course-category">
            <ng-container *ngSwitchCase="'BEGINNER'">
                <div class="category">Beginner</div>
            </ng-container>
            <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
            <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
            <div class="category" *ngSwitchDefault>All levels</div>
        </div>
        -->

        <!-- Test filterByCategory pipe -->
        <div class="category">{{ course.category }}</div>

        <div>
            <label for="title-change">
                <input #courseTitle [value]="course.description" (keyup)="onTitleChanged(courseTitle.value)" />
            </label>
            <button (click)="onSaveClicked(courseTitle.value)">Edit Title</button>
        </div>

        <button (click)="courseClicked()">View Course</button>
    </div>
</ng-container>
