/* html host element : course-card */
:host {
    display: block;
}

:host.is-first {
    border-top: 2px solid grey;
    padding-top: 20px;
}

:host.is-last {
    border-bottom: 2px solid grey;
    padding-top: 20px;
}

:host.is-even {
    background: lightgray;
}

:host.is-odd {
    background: lightcyan;
}

.course-card {
    margin-bottom: 40px;
    text-align: center;
    border-radius: 4px;
    padding: 20px 0;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

/* Utile lors de l'utilisation de thèmes globaux avec des règles spécifiques au composant */
:host-context(.salmon-theme) .course-card {
    background-color: lightsalmon;
}

.course-card .course-title {
    font-size: 27px;
    font-weight: bold;
}

/*
::ng-deep : Gérer des sélecteurs pour du contenu obtenu via projection dans le composant.
On applique le style à tous les sous éléments ayant la classe "course-description", qu'ils appartiennent ou non au composant.
*/
.course-card ::ng-deep .course-description {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 15px;
    user-select: none;
}

.course-card ::ng-deep img {
    border-radius: 4px;
    margin-top: 10px;
}

.course-card.beginner {
    background-color: lightcoral !important;
}

.course-category {
    margin-top: 15px;
}
