<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" />

    <!-- Utilisation d'une custom directive *ngxUnless -->
    <span class="demo" *ngxUnless="true">
        <!-- PIPE -->
        <div>{{ startDate | date : 'dd/MM/yyyy' }}</div>
    </span>
</div>

<!-- Utilisation d'une classe "theme" salmon-theme (possiblement une variable...) -->
<div class="courses salmon-theme" #cardRef *ngIf="courses$ | async as courses">
    <!-- ng-template: non visible tant que pas "activé"/instancié -->
    <!-- Passage d'un template dans un composant en Input (ici <course-card>) -->
    <ng-template #noImage let-courseName="description">
        <p class="warn">{{ courseName }} has no image yet</p>
        <img src="../../assets/empty-image.png" alt="No Image Logo" />
    </ng-template>

    <course-card
        [highlighted]
        #highlighter="hl"
        (toggleHighlighted)="onToggleHighlighted($event, i)"
        *ngFor="let course of courses; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd"
        [course]="course | filterByCategory"
        [noImageTpl]="noImage"
        [cardIndex]="i + 1"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        (courseClicked)="onCourseClicked($event)"
        (courseChanged)="onCourseChanged($event)"
    >
        <!-- DEBUT Projection -->

        <!-- 1 - Exemple composant projeté -->
        <card-image [src]="course.iconUrl"></card-image>

        <!-- 2 - ng-template dans le cas d'un else sur un *ngIf -->
        <card-custom-text
            *ngIf="isFirst; else customTextNotFirst"
            class="warn"
            [cstmtext]="'First card custom text ' + i"
        ></card-custom-text>
        <ng-template #customTextNotFirst>
            <p class="warn">Custom Text If Not First</p>
        </ng-template>

        <!-- 3 - Utilisation de ng-template avec *ngTemplateOutlet qui "l'active" -->
        <!-- *ngTemplateOutlet: display an ng-template (div or ng-container as wrapper,...)-->
        <ng-container *ngTemplateOutlet="yoloRef; context: { text: course.description }"></ng-container>
        <ng-template #yoloRef let-yoloName="text">
            <p>yolo: {{ yoloName }}</p>
        </ng-template>

        <!-- 4 - Projection standard -->
        <!-- Evènement lié à la directive (avec exportAs) -->
        <div class="course-description" (dblclick)="highlighter.toggle()">
            {{ course.longDescription }}
        </div>

        <!-- FIN Projection-->
    </course-card>
</div>
